<div class="collection-card">
  <div class='collection-image__container'>
    <img
      src="/assets/{{ collection.image }}"
      alt="{{ collection.title }}"
      class="collection__image"
    >
  </div>
  <h3 class="collection__title">{{ collection.title }}</h3>
</div>