<div class="collection-card">
  <img
    src="/assets/{{ collection.image }}"
    alt="{{ collection.title }}"
    class="collection__image"
  >
  <h3 class="collection__title">{{ collection.title }}</h3>
</div>