.collection-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.collection-card:nth-child(3) {
  grid-column: 1 / 3;
}

.collection-image__container {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.collection__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 6px;
  transition: transform 0.3s ease-in-out;
}

.collection__title {
  position: absolute;
  bottom: 32px;
  left: 16px;
  margin: 0;
  padding: 6px 12px;
  font-size: 24px;
  border-radius: 4px;
  z-index: 2;
  font-weight: normal;
}

.collection-card:hover .collection__image {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .collection__title {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }

  .collection-image__container {
    height: 500px;
  }
}