.hero-banner {
  position: relative;
  width: 100%;
  margin-top: 30px;
  /* margin-bottom: 60px; */
}

.hero-banner__image-wrapper {
  position: relative;
  overflow: hidden;
}

.hero-banner__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 4px;
}

.hero-banner__button {
  position: absolute;
  bottom: 30px;
  left: 54px;
}

.hero-banner__marquee {
  color: var(--color-white);
  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
}

.marquee__wrapper {
  display: flex;
  animation: scroll-marquee 20s linear infinite;
}

.marquee__star {
  font-size: 55px;
  color: var(--color-accent);
  line-height: 1;
  padding: 0 12px;
}

.marquee__message {
  line-height: 1;
}

.marquee__text {
  display: inline-block;
  gap: 0 10px;
  font-weight: 800;
  font-size: 40px;
  font-family: 'Anton', sans-serif;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}