a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-accent);
}

button {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  padding: 14px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Anton', sans-serif;
}

.button__icon {
  padding: 6px 20px;
}

.button__icon--rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 50%;
}

button:hover {
  background-color: #b46bff;
}
