/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/variables.css ***!
  \****************************************************************************/
:root {
  --color-bg: #242424;
  --color-white: #ffffff;
  --color-accent: #762bfb;
  --color-text: #f2f2f2;
  --color-gray: #1e1e1e;
  --font-family: Arial, sans-serif;
  --max-width: 1200px;
  --padding-x: 1.5rem;
}
/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/base.css ***!
  \***********************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: 1.6;
}
/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/layout.css ***!
  \*************************************************************************/
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--padding-x);
}
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/typography.css ***!
  \*****************************************************************************/
h1, h2, h3, h4 {
  color: var(--color-white);
  font-weight: bold;
}

.section-title {
  font-size: clamp(1.8rem, 4vw, 3rem);
  text-align: center;
  margin: 2rem 0;
}
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/components.css ***!
  \*****************************************************************************/
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-accent);
}

button {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  padding: 0.75rem 2rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b46bff;
}

/*!*******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/components/header-banner.css ***!
  \*******************************************************************************************/
.header-banner {
  background-color: var(--color-accent);
  color: var(--color-white);
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
}

.header-banner__wrapper {
  display: flex;
  animation: scroll-banner 20s linear infinite;
}

.header-banner__content {
  padding: 8px 0;
  gap: 5px;
}

.header-banner__star {
  font-size: 20px;
}

.header-banner__text {
  display: inline-block;
  gap: 0 10px;
  font-weight: 800;
}

@keyframes scroll-banner {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}
/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/components/header.css ***!
  \************************************************************************************/
.site-header {
  position: sticky;
  top: 0;
  z-index: 100;
  /* background-color: #0f0f11; */
  transition: background-color 0.3s ease;
  backdrop-filter: blur(10px);
}

.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px ;
  margin-bottom: 10px ;
}

.site-header__title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo__separator{
  border: 5px;
  height: 30px;
  width: 30px; 
  border-color: #7f47f4;
  margin: 1rem 0;
}

.site-header__title h2 {
  font-family: 'Bebas Neue', sans-serif; /* o la más similar que uses */
  font-size: 28px;
  color: #fff;
  letter-spacing: 1px;
}

.payments__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #7f47f4;
  border-radius: 9999px;
  padding: 5px 15px;
}

.payments__text {
  font-weight: bold;
  color: white;
  font-size: 14px;
}

.payments__wrapper img {
  width: 26px;
  height: 26px;
}

.site-header--scrolled {
  background-color: rgba(15, 15, 17, 0.8); /* patrón de transparencia */
  backdrop-filter: blur(6px);
}

.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.site-header__nav {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .site-header__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .site-header__payments {
    order: 3;
  }
}
/*!*****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/components/hero-banner.css ***!
  \*****************************************************************************************/
.hero-banner {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.hero-banner__image-wrapper {
  position: relative;
  text-align: center;
}

.hero-banner__image {
  width: 100%;
  height: auto;
  display: block;
}

.hero-banner__button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  background-color: #a258f5;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
}

.hero-banner__marquee {
  color: var(--color-white);
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  font-size: 36px;
}

.marquee__wrapper {
  display: flex;
  animation: scroll-marquee 20s linear infinite;
}

.header-banner__content {
  padding: 8px 0;
  gap: 5px;
}

.marquee__star {
  font-size: 40px;
}

.marquee__text {
  display: inline-block;
  gap: 0 10px;
  font-weight: 800;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*!***********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/components/products-carousel.css ***!
  \***********************************************************************************************/
.products-carousel__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-bottom: 20px;
}

.product-card-wrapper {
  flex: 1 1 22%;
  max-width: 240px;
  transition: transform 0.3s ease;
}

.hidden {
  display: none;
}

.products-carousel__view-all {
  padding: 10px 24px;
  background-color: #7f47f4;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/components/footer.css ***!
  \************************************************************************************/

/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/


/*# sourceMappingURL=styles.css.map*/