<header class="site-header">
  <div class="container site-header__inner">
    <!-- Logo -->
    <div class="site-header__title">
      <img src="/assets/header_logo.png" alt="Shuffle Store logo" width="100" height="auto" class="site-header__logo">
      <span class="header-logo__separator"></span>
      <h2>STORE</h2>
    </div>

    <!-- Payment Icons -->
    <div class="site-header__payments">
      <div class="payments__wrapper">
        <span class="payments__text">We Accept</span>
        <img src="/assets/icons/bitcoin (1).svg" alt="bitcoin" width="50" height="50">
        <img src="/assets/icons/ethereum.svg" alt="ethereum" width="50" height="50">
        <img src="/assets/icons/litecoin.svg" alt="litecoin" width="50" height="50">
        <img src="/assets/icons/dogecoin.svg" alt="dogecoin" width="50" height="50">
        <img src="/assets/icons/badge-dollar-sign.svg" alt="badge-dollar" width="50" height="50">
      </div>
    </div>

    <!-- Nav + Cart -->
    <nav class="site-header__nav">
      <a href="#products-carousel" class="site-header__link">All Products</a>
      <a href="#collections" class="site-header__link">Collections</a>
      <button class="site-header__cart" aria-label="Cart">
        <img src="/assets/icons/shopping-cart.svg" alt="badge-dollar" width="50" height="50"></button>
    </nav>
  </div>
</header>
