<section class="top-bar">
  <h2>{{ settings['hero-banner'].settings.marquee_text }}</h2>
  {% comment %}
    <div class="product-list">
      <div><p></p></div>
    </div>
  {% endcomment %}
</section>
