<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Shopify Simulator | Gradiweb</title>
  </head>
  <body>
    {% include 'header-banner.liquid' %}
    <div class="container">
      {% comment %} {% include 'header.liquid' %} {% endcomment %}
      {% comment %} {% include 'hero-banner.liquid' %} {% endcomment %}
      {% include 'featured-products.liquid' %}
      {% comment %} {% include 'footer.liquid' %} {% endcomment %}
    </div>
    <script src="/main.js" defer></script>
  </body>
</html>
