<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover the Shuffle Store experience. Powered by the Shopify Simulator, explore stylish collections and seamless crypto-friendly shopping.">
    <meta name="keywords" content="Shuffle Store, Shopify Simulator, crypto store, digital fashion, ecommerce">
    <meta name="author" content="Nicolás Díaz">

    <title>Shopify Simulator | Gradiweb</title>

    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/favicon.ico">

    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    {% include 'header-banner.liquid' %}
    {% include 'header.liquid' %}
    {% include 'hero-banner.liquid' %}
    {% include 'products-carousel.liquid' %}
    {% include 'lastest-collection.liquid' %}
    {% include 'footer.liquid' %}
    
    <script src="/main.js" defer></script>
  </body>
</html>
