<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Shopify Simulator | Gradiweb</title>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include 'header-banner.liquid' %}
    {% include 'header.liquid' %}
    {% include 'hero-banner.liquid' %}
    {% include 'products-carousel.liquid' %}
    {% include 'footer.liquid' %}
    <script src="/main.js" defer></script>
  </body>
</html>
