@import './styles/variables';
@import './styles/components/header';
@import './styles/components/hero-banner';
@import './styles/components/products-carousel';
@import './styles/components/footer';

body {
  font-family: Arial, sans-serif;
  background-color: rgb(24, 230, 68);
  margin: 0;
  padding: 0;
}